<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_tai_san_root" name="Quản lý Tài sản" web_icon="fa fa-desktop"/>

        <menuitem id="menu_quan_ly" name="Tài sản" parent="menu_tai_san_root" sequence="10"/>

        <menuitem id="menu_tai_san_list" 
                  name="Tất cả Tài sản" 
                  parent="menu_quan_ly" 
                  action="action_tai_san" 
                  sequence="1"/>
                  
        </data>
</odoo>